//base.scss

body {
  background-color: $gray-15;
  z-index: 0;

}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $golden-yellow;
  }
  &:focus  {
    text-decoration: none;
  }
}


