//base.scss

body {
  background-color: $gray-15;
  z-index: 0;

}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $golden-yellow;
  }
  &:focus  {
    text-decoration: none;
  }
}

.divider-black {
  border-top: 1px solid black;
  margin: 10px 0;
}
