//info.scss

&.info-container {
  padding: 0 15px;
  max-width: 1142px;
}

.info-content {
  margin: 40px 0;
  float: left;
  width: 66%;
  margin-right: 2%;
  p {
    font-size: 16px;
  }

}

.info-side {
  margin: 40px 0;
  float: left;
  width: 32%;
  p {
    font-size: 16px;
  }
}

.h-5-first {
  padding-top: 0;
  margin-top: 0;
  color: $golden-yellow;
}

.heading-golden-yellow {
  color: $golden-yellow;
  margin-top: 30px;
}

.info-logo-black {
  width: 100%;
  margin: 15px 0;
}
.logo-black {
  max-width: 100%;
}
.nav-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .nav-info-item {
  }
  .info-item-link {
    color: #D5B606;
    text-decoration: underline;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .info-content {
    float: none;
    width: 100%;
  }
  .info-side {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .main {
    background-position: 90% center;
  }
}