//variables.scss

//Sets variables for the backgound
$gray-15: #262626;
$very-dark-gray: #1E1E1E;
$vary-dark-black: #161817;
$golden-yellow: #FEE800;

//Sets the text color
$text-color: #F3F3F3;
$dark-gray: #a2a2a2;
//Sets fonts and its weights
$headings-font-weight:  bold;
$headings-font-family: 'FranklinBold';
$font-family-base: 'FranklinGothic-Medium';
