//alaget.scss

.header-bottom {
  &.a-laget-header {
    max-width: 1142px;
  }
}
.info-box-title {
  .alaget-info-align {
    text-align: left;
  }
}
.info-box {
  &.a-laget-box {
    max-width: 1142px;
  }
}
.info-box-wrapper {
  &.a-laget-wrapper {
    padding: 3px 0 22px;
  }
}

&.progress-h {
  height: 28px;
}

.a-laget-left {
  width: 28%;
  float: left;
  margin-right: 2%;
}
.alaget-header {
  margin-bottom: 17px;
  border-bottom: 2px solid $very-dark-black;
}
.a-laget-right {
  width: 70%;
  float: left;
  padding-left: 15px;
}
.content-container {
  &.a-laget-container {
    padding: 30px 20px;
    max-width: 1180px;
  }
}

.a-laget-left {
  .a-laget-left-inner {
    background: #323232;
    border: 2px solid $very-dark-black;
  }
}
.header-title {
  padding: 11px;
  background: $very-dark-gray;
.a-laget-gift-icon {
  display: inline-block;
  font-size: 18px;
  padding-top: 2px;
  padding-right: 8px;
  }
}
.a-laget-header-title {
  display: inline-block;
  font-size: 14px;
  margin: 0;
}

.a-laget-link {
  color: $dark-gray;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
  &:focus {
    color: $dark-gray;
  }
}
.btn-custom {
  &.btn-a-laget {
    width: 100%;
  }
  &:hover {
    background-color: $golden-yellow;
   span {
    color: $very-dark-black; }
  }
  span {
    font-size: 16px;
  }
}

.col-a-laget {
  padding: 8px 14px;
}

.btn-box-last {
  &.a-laget-last {
    width: 60%;
    padding: 10px 0 23px 0;
  }
}
.a-laget-color {
  background-color: transparent;
}

.social-a-laget {
  margin-top: 30px;
  background-color: #323232;
  border: 2px solid $very-dark-gray;
}

.social-header {
  .fa-20 {
    font-size: 20px;
  }
  padding: 11px;
  background: $very-dark-gray;
  .share-title {
    font-size: 18px;
    display: inline-block;
    padding-left: 5px;
  }
  .share-color {
    color: $dark-gray;
  }
}
.social-links {
  text-align: center;
  padding: 30px 0;
  a {
    padding: 10px;
  }
  
}
.social-icon-color {
  color: $golden-yellow;
}

.header-box-alaget {
  @extend .clearfix;

  padding: 5px 10px;
  span {
    font-size: 13px;
  }
  p {
    font-size: 10px;
    margin: 0;
  }
}


.box-a-laget {
  margin-bottom: 30px;
  border: 1px solid transparent;
}
.a-laget-primary {
  border-color: $golden-yellow;
}
.a-laget-primary  > .header-box-alaget {
  border-color: $golden-yellow;
  background-color: $golden-yellow;
  color: $very-dark-black;
}

.a-laget-success {
  border-color: $lime-green;
}
.a-laget-success  > .header-box-alaget {
  border-color: $lime-green;
  background-color: $lime-green;
  color: $very-dark-black;
}

.a-laget-default {
  border-color: $very-dark-black;
}
.a-laget-default  > .header-box-alaget {
  border-color: $very-dark-black;
  background-color: $very-dark-gray;
  color: $golden-yellow;
  .chevron-right {
    a {
      color: $dark-gray;
    }
  }
  .icon-title-left {
    font-size: 17px;
  }
}




.chevron-right {
  float: right;
  padding: 6px 5px 5px 15px;
  a {
    color: $very-dark-black;
  }
  .fa-12 {
    font-size: 12px;
    z-index: 2;
  }
}

.header-title-left {
  float: left;
  .icon-left {
    float: left;
    font-size: 17px;
    padding-top: 5px;
    padding-right: 8px;
  }
  .icon-title-left {
    float: left;
  }
}

.a-laget-body {
  @extend .clearfix;
  background-color: #323232;
  padding: 15px 10px 8px 8px;
  color: $dark-gray;
  .fa-heart-color {
    color: $golden-yellow;
    cursor: pointer;
  }
  .like {
    display: inline-block;
    padding-left: 3px;
  }
}
.text-box-description {
  overflow: hidden;
}

//Pagination
.a-laget-conatiner {
  overflow: hidden;
  margin-top: 5px;
  .a-laget-pagination {
    @extend .clearfix;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      a {
        color: $dark-gray;
        padding: 5px;
      }
    }
  }
}

.a-laget-price {
  text-align: center;
  color: $lime-green;
  margin: 0;
}

.a-laget-description {
  text-align: center;
  font-size: 18px;
}

.a-body-left {
  float: left;
  padding: 0 15px 8px 8px;
}
.like-box {
  padding-top: 10px;
}
.chevron-menu {
  display: none;
  position: absolute;
  width: 155px;
  right: 4px;
  z-index: 4;
  top: 29px;
  background-color: #323232;
  border: 2px solid $very-dark-black;
  -webkit-box-shadow:  0px 1px 9px 1px #161817;
  -moz-box-shadow:  0px 1px 9px 1px #161817;
  box-shadow: 0px 1px 9px 1px #161817;
  &.header-box-golden {
    background-color: $golden-yellow;
    .chevron-menu-item {
      &:hover {
        background-color: rgba(254, 188, 0, 0.69);
      }
    }
  }
}

.chevron-right {
  position: relative;
  //&:hover {
  //  .chevron-menu {
  //    display: block;
  //  }
  //}
}

.chevron-menu-item {
  display: block;
  padding: 3px 0px 5px 10px;
  &:hover {
    text-decoration: none;
    background-color: rgb(70, 70, 70);
  }
  &:focus {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}
.border-top-chevron {
  border-top: 1px solid $very-dark-black;
}

@media only screen and (max-width: $screen-sm-max) {
  .a-laget-right {
    width: 60%;
  }

  .a-laget-left {
    width: 38%;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .heading-alaget-info {
    color: $golden-yellow;
  }
  .alaget-mobile-container {
    max-width: 100%;
    width: 412px;
    margin: 0 auto;
  }
  .a-laget-left {
    float: none;
    width: auto;
    margin: auto;
    padding-bottom: 40px;
  }

  .a-laget-right {
    float: none;
    width: auto;
    margin: auto;
    padding: 0;
  }
  .main {
    &.main-2 {
      background-position: center center;
    }
  }
}
