//mypage.scss
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

&.my-page-container {
  padding: 0 15px;
  max-width: 1175px;
}
.footer-down {
  min-height: 100%;
  padding: 100px 0;
  //margin: -100px 0;
}
.minside-heading {
  margin: 35px 0 15px 0;
  color: $golden-yellow;
}
.mypage-left {
  float: left;
  width: 31%;
}
.mypage-right {
  float: left;
  width: 68%;
  margin-left: 1%;
}

.mypage-profil-nav {
  margin-top: 30px;

}

.activity-box {
  margin-left: 15px;
}
.header-gray15 {
  background-color: $gray-15;
}
.mypage-header {
  @extend .clearfix;
  .chevron-menu, .chevron-right  {
    a {
      color: #93A59C;
    }
  }
  color: $dark-gray;
  padding: 6px 15px;
  border-bottom: 2px solid $very-dark-black;
}

.my-page-profil {
  border: 2px solid $very-dark-black;
  background-color: #323232;
  color: $dark-gray;
  p {
    margin: 0;
    font-size: 14px;
  }
}

.mypage-img-item {
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.my-page-inner {
  @extend .clearfix;
  padding: 15px 20px;
}

.mypage-img-box {
  float: left;
  width: 40%;
}

.my-page-body-content {
  padding-left: 15px;
  overflow: hidden;
}

.mypage-h-mod {
  margin: 0;
}
.mypage-accordion-inner {
  @extend .clearfix;
  padding: 0 0px;
}
.accordion-toggle-down:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;

}

.accordion-toggle-up:after {
  font-family: 'FontAwesome';
  content: "\f077";
  float: right;
}
.accordion-opened .accordion-toggle:after {
  content: "\f054";
}
.accordion-toggle {
  color: $dark-gray;
  &:hover,
  &:focus {
    color: $dark-gray;
    text-decoration: none;
  }
}

&.toggle-link-area {
  display: block;
  padding: 12px 15px;
}
.accordion-heading-border {
  border-bottom: 1px solid $very-dark-black;
}

.accordion-body {
  border-top: 1px solid black;
  display: block;
  padding: 10px 15px;
  background-color: $gray-15;
  border-bottom: 2px solid black;
}
.accordion-fluid-pad {
  padding-left: 2px;
}
.row-inner {
  @extend .clearfix;
  padding: 8px 0;
}
.accordion-input {
  width: 100%;
  background: #333;
  border: 1px solid #403E3E;
  outline: none;
  border-radius: 2px;

}

::-webkit-input-placeholder {
  color: #4D4D4D;
  padding-left: 8px;
}
:-moz-placeholder {
  padding-left: 8px;
}
::-moz-placeholder {
  padding-left: 8px;
}
:-ms-input-placeholder {
  padding-left: 8px;
}
.save-btn-box {
  @extend .clearfix;
}
.save-button {
  float: right;
  padding: 18px;
}
.btn-lagre {
  padding: 5px 28px;
  border: 1px solid $very-dark-black;
  border-radius: 5px;
  outline: none;
  position: relative;
  z-index: 6;
}

.btn-lagre-gray {
  background-color: #333333;
  color: #909090;
}
.btn-gray-gradient {
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 97%;
    top: 3px;
    left: 1px;
    height: 19px;
    background: -moz-linear-gradient(top, #333333 0%, #333333 48%, rgba(51, 51, 51, 0.95) 49%, rgba(51, 51, 51, 0.9) 50%, rgba(51, 51, 51, 0.68) 54%);
    background: -webkit-linear-gradient(top, #333333 0%, #333333 48%, rgba(51, 51, 51, 0.95) 49%, rgba(51, 51, 51, 0.9) 50%, rgba(224, 211, 211, 0.12) 54%);
    background: linear-gradient(to bottom, rgba(199, 187, 187, 0.6) 0%, #333333 48%, rgba(51, 51, 51, 0.95) 49%, rgba(51, 51, 51, 0.9) 50%, rgba(51, 51, 51, 0.68) 54%);
  }
}

.lagre-text {
  position: relative;
  z-index: 8;
}

.activ-inner {
  padding: 0;
  .fa-heart-color {
    cursor: pointer;
    display: inline-block;
    padding-right: 5px;
    color: $golden-yellow;
    font-size: 16px;
  }
}
.activ-heading-title {
  float: left;
  padding-top: 5px;
}

.mypage-activ-pad {
  @extend .clearfix;
  padding: 10px 18px;
  .txt-yellow {
    color: $golden-yellow;
  }
}
.activ-notification {
  float: left;
}
.date-notofication {
  float: right;
}

.activ-header-h {
  padding: 0 15px;
}

.chevron-dark-gray {
  background-color: $gray-15;
}

.pad-right-5 {
  padding-right: 5px;
}

@media only screen and (max-width: $screen-xs-max) {
  .my-page-container {
    padding: 0 15px;
    max-width: 440px;
    width: 100%;
    margin: auto;
  }
  .mypage-left,
  .mypage-right{
    float: none;
  }
  .mypage-left {
    width: auto;
  }
  .mypage-right {
    width: auto;
    margin: 20px 0 20px 0;
    .activity-box {
      margin: 0;
    }
  }
}